:root {
  --bg-color1: #292f36;
  --bg-color2: #1a1e23;

  --color-primary: #12f7d6;
  --color-secondary: #98faec;

  --color-gray: #43454d;
  --color-white: #ffffff;
  --color-html: #f1654c;
  --color-css: #0c73b8;
  --color-javascript: #e7a020;
  --color-react: #28a9e0;

  --text-size-small: 14px;
  --text-size-medium: 16px;
  --text-size-large: 20px;
  --text-size-xl: 24px;
  --text-size-2xl: 32px;
  --text-size-3xl: 48px;
  --text-size-4xl: 64px;
  --text-size-bg-text: 117px;

  --line-height-small: 16px;
  --line-height-medium: 18px;
  --line-height-large: 20px;
  --line-height-xl: 24px;
  --line-height-2xl: 32px;
  --line-height-3xl: 36px;
  --line-height-4xl: 42px;
  --line-height-5xl: 62px;
  --line-height-6xl: 72px;
  --line-height-bg-text: 134px;

  --font-ubuntu: 'Ubuntu', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
