@import './_global.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:is(body, h1, h2, h3, h4, h5, h6, p, ol, ul) {
  font-family: var(--font-ubuntu);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-small);
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}
